@{
    ViewBag.Title = "Impressum";
}


<div class="container">
    <h3>Impressum</h3>

    <p><strong>Verantwortlich für Betrieb und Inhalt dieser Webseite:</strong> <a href="http://www.stipimo.de/de/impressum.php">Stiftung Pinakothek der Moderne</a></p>
    <p><strong>Gestaltung &amp; Realisierung:</strong> <a href="http://www.sotaggy.org">SoTaggy</a></p>


</div>
